<h1><%= @user.name %> <small><%= @user.group.name unless @user.group.nil? %></small></h1>

<dl class="dl-horizontal">
  <% if @user == current_user %>
    <dt>Actions</dt>
    <dd>
      <%= link_to 'Edit Information', edit_user_registration_path %> |
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
    </dd>
  <% end %>
  <dt>Joined</dt>
  <dd><%= @user.created_at.to_date.to_formatted_s(:long) %></dd>
  <dt>Total Acts of Kindness</dt>
  <dd><%= @user.acts.count %></dd>
</dl>

<h2>Current Challenge</h2>
<%= render 'challenges/list_item', challenge: @user.current_challenge %>

<h3>All Challenges</h3>
<% @user.challenges.each do |challenge| %>
  <%= render 'challenges/list_item', challenge: challenge %>
<% end %>
