<h1><%= @challenge.display_name %></h1>

<dl class="dl-horizontal">
  <!-- <dt>Week(s)</dt>
  <dd><%= @challenge.weeks %></dd> -->
  <% unless @challenge.user.is_anonymous %>
    <dt>User<dt>
    <dd><%= link_to @challenge.user.name, @challenge.user %></dd>
  <% end %>
  <dt>Duration</dt>
  <dd><%= @challenge.start.to_formatted_s(:long) %> &ndash;
  <%= @challenge.start.advance(days: @challenge.days - 1).to_formatted_s(:long) %></dd>
  <dt>Progress</dt>
  <dd><%= render 'challenges/progress', challenge: @challenge %></dd>
</dl>

<h2>Acts of Kindness</h2>
<%= render 'acts/list', acts: @challenge.acts %>
